<div id="kboard-default-editor">
	<form method="post" action="<?php echo $url->getContentEditorExecute()?>" enctype="multipart/form-data" onsubmit="return kboard_editor_execute(this);">
		<?php wp_nonce_field('kboard-editor-execute', 'kboard-editor-execute-nonce');?>
		<input type="hidden" name="action" value="kboard_editor_execute">
		<input type="hidden" name="mod" value="editor">
		<input type="hidden" name="uid" value="<?php echo $content->uid?>">
		<input type="hidden" name="board_id" value="<?php echo $content->board_id?>">
		<input type="hidden" name="parent_uid" value="<?php echo $content->parent_uid?>">
		<input type="hidden" name="member_uid" value="<?php echo $content->member_uid?>">
		<input type="hidden" name="member_display" value="<?php echo $content->member_display?>">
		<input type="hidden" name="date" value="<?php echo $content->date?>">
		
<!--###리스트형-글쓰기-->
		<table class="ui-board">
			<thead>
				<colgroup><col width="12%"><col width="88%"></colgroup>
			</thead>
			<tbody>
			<!--카테고리 선택 -->
			<?php if($board->initCategory2()):?>
				<tr>
					<th>카테고리</th>
					<td>
						<div class="kboard-category">
							<select name="category2">
								<option value=""><?php echo __('All', 'kboard')?></option>
								<?php while($board->hasNextCategory()):?>
								<option value="<?php echo $board->currentCategory()?>"<?php if($content->category2 == $board->currentCategory()):?> selected="selected"<?php endif?>><?php echo $board->currentCategory()?></option>
								<?php endwhile?>
							</select>
						</div>
					</td>
				</tr>
			<?php endif?>
			<!--카테고리 선택 -->
			<!--제목-->
				<tr>
					<th>제목</th>
					<td><input type="text" name="kboard_option_title" value="<?php echo $content->option->title?>" placeholder="제목을 입력해주세요"></td>
				</tr>
			<!--제목-->
		<!--모집중/모집완료-->
		<?php if($board->meta->apply_view=="yes"):?>
				<tr>
					<th>모집중/모집완료</th>
					<td>
						<span class="inline-block mgr_20"><label class="attr-value-option"><input class="inline-block mgr_5" type="radio" name="kboard_option_recruit" value="모집중" onclick="rb_action()" 
						<?php if($content->option->recruit=="모집중"): ?> checked <?php endif ?>>모집중</label></span>
						<span><label class="attr-value-option"><input class="inline-block mgr_5" type="radio" name="kboard_option_recruit" value="모집완료" onclick="rb_action()" <?php if($content->option->recruit=="모집완료"): ?> checked <?php endif ?>>모집완료</label></span>
					</td>
				</tr>
			<!--//기간입력-->
			<!--기간입력-->
				<tr id="rowkYear" style="display:table-row">
					<th>기간입력</th>
					<td><input type="text" name="kboard_option_date" value="<?php echo $content->option->date?>" placeholder="기간을 입력해주세요" style="visibility:visible"></td>
				</tr>
			<!--//기간입력-->
			<!--구글폼URL-->
				<tr id="rowGoogle" style="display:table-row">
					<th>구글폼주소</th>
					<td><input type="text" name="kboard_option_googleurl" value="<?php echo $content->option->googleurl?>" placeholder="구글폼주소를 입력해주세요" style="visibility:visible"></td>
				</tr>
			<!--//구글폼URL-->
			<!--아이디및비밀번호입력-->
		<?php endif; ?>
			<!--아이디및비밀번호입력-->		 
			<?php if(!is_user_logged_in()):?>
				<tr>
					<th>아이디</th>
					<td><input type="text" id="kboard-input-member-display" name="member_display" value="<?php echo $content->member_display?>" placeholder="<?php echo __('Author', 'kboard')?>..."></td>
				</tr>
				<tr>
					<th>비밀번호</th>
					<td><input type="password" id="kboard-input-password" name="password" value="<?php echo $content->password?>" placeholder="<?php echo __('Password', 'kboard')?>..."></td>
				</tr>
			<?php endif?>
			<!--//아이디및비밀번호입력-->
			<!--공지사항/비밀글 -->
			<?php if($board->isAdmin()):?>
				<tr>
					<th>옵션</th>
					<td>
						<label class="attr-value-option"><input type="checkbox" name="notice" value="true"<?php if($content->notice):?> checked<?php endif?>> <?php echo __('Notice', 'kboard')?></label>
					</td>
				</tr>
			<?php endif?>
			<!--공지사항/비밀글-->
				<tr>
					<td colspan="2">
						<div class="kboard-content">
							<!-- 스마트에디터시작 -->
							<?php if($board->use_editor == "yes"):?>
								<?php wp_editor($content->content, 'kboard_content'); ?>
							<?php elseif($board->use_editor == "smart"):?>
								<textarea name="kboard_content" id="kboard_content"><?php echo $content->content?></textarea>
								<script type="text/javascript" src="<?php echo plugins_url('../../smarteditor/js/service/HuskyEZCreator.js', __FILE__)?>" charset="utf-8"></script>
								<script type="text/javascript">
								var oEditors = [];
								nhn.husky.EZCreator.createInIFrame({
								oAppRef: oEditors,
								elPlaceHolder: "kboard_content",
								sSkinURI: "<?php echo plugins_url('../../smarteditor/SmartEditor2Skin.html', __FILE__)?>",
								fCreator: "createSEditor2"
								});
								</script>
							<?php else:?>
								<textarea name="kboard_content" id="kboard_content"><?php echo $content->content?></textarea>
							<?php endif?>
							<!-- 스마트에디터끝 -->
						</div>
					</td>
				</tr>
			<!-- 	<tr>
					<th>사진가져오기</th>
					<td>
						<a href="#" onclick="kboard_editor_open_media();return false;"><?php echo __('KBoard Add Media', 'kboard')?></a>
					</td>
				</tr> -->
				<tr>
					<th>썸네일</th>
					<td>
						<?php if($content->thumbnail_file):?><?php echo $content->thumbnail_name?> - <a href="<?php echo $url->getDeleteURLWithAttach($content->uid);?>" onclick="return confirm('<?php echo __('Are you sure you want to delete?', 'kboard')?>');"><?php echo __('Delete file', 'kboard')?></a><?php endif?>
						<input type="file" id="kboard-input-thumbnail" name="thumbnail">
					</td>
				</tr>
			<!-- 첨부파일 시작 -->
			<?php if($board->meta->max_attached_count > 0):?>
				<?php for($attached_index=1; $attached_index<=$board->meta->max_attached_count; $attached_index++):?>
				<tr>
					<th>첨부파일</th>
					<td>
						<?php if(isset($content->attach->{"file{$attached_index}"})):?><?php echo $content->attach->{"file{$attached_index}"}[1]?> - <a href="<?php echo $url->getDeleteURLWithAttach($content->uid, "file{$attached_index}");?>" onclick="return confirm('<?php echo __('Are you sure you want to delete?', 'kboard')?>');"><?php echo __('Delete file', 'kboard')?></a><?php endif?>
							<input type="file" class="" id="kboard-input-file<?php echo $attached_index?>" name="kboard_attach_file<?php echo $attached_index?>">
					</td>
				</tr>
				<?php endfor?>
			<?php endif?>
			<!-- 첨부파일 끝 -->
				<!--태그달기-->
				<tr>
					<th>태그달기</th>
					<td><input type="text" name="title" value="<?php echo $content->title?>" placeholder="태그와 태그는 쉽표로 구분하며, 10개까지 입력하실 수 있습니다."></td>
				</tr>
				<!--태그달기-->
			</tbody>
		</table>
<!--###//리스트형-글쓰기-->
		<div class="kboard-control">
			<div class="left">
				<?php if($content->uid):?>
					<a href="<?php echo $url->set('uid', $content->uid)->set('mod', 'document')->toString()?>" class="kboard-default-button-small"><?php echo __('Back', 'kboard')?></a>
					<a href="<?php echo $url->toString()?>" class="kboard-default-button-small"><?php echo __('List', 'kboard')?></a>
				<?php else:?>
					<a href="<?php echo $url->toString()?>" class="kboard-default-button-small"><?php echo __('Back', 'kboard')?></a>
				<?php endif?>
			</div>
			<div class="right">
				<?php if($board->isWriter()):?>
				<button type="submit" class="kboard-default-button-small"><?php echo __('Save', 'kboard')?></button>
				<?php endif?>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript" src="<?php echo $skin_path?>/script.js?<?php echo KBOARD_VERSION?>"></script>
